/*
    The beautiful CSS file! 

    Author: Martin Haagen
    Date: 2024-06-01

*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightsalmon;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
}

h1 {
    color: lightseagreen;
}