

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
}

h1 {
    color: lightseagreen;
}

.banner {
    border: 1px solid lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
}