/*
    The beautiful CSS file! 

    Author: Martin Haagen
    Date: 2024-06-01

*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightsalmon;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
}

h1 {
    color: lightseagreen;
}

.image-caption {
    text-align: center;
}

.banner {
    border: 1px solid lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
}